// Cores
$cor-primaria: #182C61;
$cor-secundaria: #f5f6fa;
$cor-texto: #fff;
$cor-botao: #44bd32;
$cor-botao-hover: #4cd137;

// Fontes
$fonte-principal: Roboto, sans-serif;

// Breakpoints (pontos de quebra para responsividade)
$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;