// less/_variables.less

// Mapa de Cores
@cores: {
    fundo: #f5f6fa;
    primaria: #182C61;
    secundaria: #fff;
    botao: #44bd32;
    botaoHover: #4cd137;
};

// Mapa de Breakpoints (pontos de quebra para o design responsivo)
@breakpoints: {
    tablet: 1023px;
    mobile: 767px;
};

// Variável de Fonte
@fontePrincipal: Roboto, sans-serif;